body
{
	background:lightgrey;
}
section
{
	margin:auto;
	width:350px;
}
.bordering
{
	height: 50px;
	width: 400px;
	border: solid 1px grey;
	margin:auto;

	text-align: center;
}
.p1
{
	padding-bottom: 5px;
}