*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background: lightgrey;
	
}
header
{
	background:grey;
	width:100%;
	height:80px;
	position: fixed;
}
#nav1 ul
{
    width: 600px;
    float: right;
    height:80px;
    
}
#nav1 ul li
{
	width: 118px;
	float:left;
	text-align: center;
	list-style: none;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
#nav1 ul li a
{
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
#nav1>ul>li>a:hover,#nav1>ul>li>a:focus
{
	background: lightgrey;
	color: #333;
}
#logo
{
	width: 500px;
	height: 80px;
	float:left;
	display: block;
	color: white;
	text-shadow: 1px 2px 1px black;
	letter-spacing: 1px;
	line-height: 80px;
	text-align: center;
	font-size: 40px;
	text-decoration: none;
	font-family: cursive;
}
@media screen and (max-width:1260px) and (min-width: 1100px)
{
   #nav1>ul
    {
        width: 600px;
    }
   #nav1>ul>li
    {
	    width: 118px;
    }

   #logo
    {
    	width: 500px;
	    height: 80px;
    }

}
@media screen and (max-width:1100px) and (min-width: 591px)
{
	header 
    {
	    width:100%;
	    height:60px;
	    position: relative;
        top: 80px;
    }

   #nav1>ul
    {
        width: 100%;
        height:60px;  
        float: right;

    }
   #nav1>ul>li
    {
    	width: 12%;
    }
   #nav1>ul>li>a
    {
    	line-height: 60px;
	    font-size: 16px;
    }

   #logo
    {
    	width: 500px;
	    height: 60px;
	    line-height: 60px;
	    font-size: 40px;
        position:absolute;
        top:-80px;
        float:left;
    }

}
@media screen and (max-width:590px)
{
	header
    {
	    width:100%;
	    height:60px;
    }

   #nav1>ul
    {
        width: 100%;
        height:60px;  
        float: none;

    }
   #nav1>ul>li
    {
    	width: 100%;
         text-align: center;
    	border-bottom: 1px solid white;
    }
   #nav1>ul>li>a
    {
    	line-height: 60px;
	    font-size: 16px;
	    background: grey;
    }
}