*
{
	padding: 0px;
	margin: 0px;
}
body
{
    top:0;
	background: lightgrey;
	width:100%;
}
p
{
   font-family: 'Rosarivo', serif;
}
.gap
{

    height: 30px;
    width:100%;
}
#hero
{
    border-radius: 25px;
    margin-top: 81px;
    width: 100%;
    height: 50px;
    background: #B3DFDC;
    text-align: center;
    text-shadow: 1px 2px 1px white;
    padding-top: 15px;

}
c2
{
    color: white;
}
h1
{
    margin-top: 0px;
}
header
{
    
    top:0;
	background:grey;
	width:100%;
	height:80px;
    position: fixed;

}
h2,.grid_6,.grid_4
{
    margin:5px 5px 5px 5px;
    text-align: center;
}
#nav1 ul
{
    width: 600px;
    float: right;
    height:80px;
    
}
.container_12
{
    margin-top: 15px; 
    width:100%;
}
#sitelink
{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;

}
.c1
{
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}
#sitelink a
{
    color: blue;
    text-decoration: none;
}
.grid_6
{
    width:45%;
    border-radius: 25px;
    border: 4px solid #e3e3e3;
    margin-top: 5px; 
    letter-spacing: 1px;
}
.grid_4
{
    width: 
   margin-top: 5px; 
   letter-spacing: 1px;  
   border-radius: 25px;
   border: 2px solid #73AD21;
}
.wrap1
{
   float: left;
   height: 455px;
}
.wrap2
{
   float:right;
}
footer
{
    width: 100%;
    padding: 60px 0px;
    background-color: #222;
}
.li1
{
	width: 118px;
	float:left;
	text-align: center;
	list-style: none;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.li1 a
{
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
.li1 a:hover,.li1 a:focus
{
	background: lightgrey;
	color: #333;
}
#logo
{
	width: 500px;
	height: 80px;
	float:left;
	display: block;
	color: white;
	text-shadow: 1px 2px 1px black;
	letter-spacing: 1px;
	line-height: 80px;
	text-align: center;
	font-size: 40px;
	text-decoration: none;
	font-family: cursive;
    margin-top: 0px;
}
#nav2
{
 display: flex;
 position: absolute;
 
 left: 50%;
 transform: translate(-50%,-50%);   
}
.li2
{
    list-style: none;
}
.li2 a
{
    width: 80px;
    height: 80px;
    background:#fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin:0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;

}
.li2 a .fa
{
    position: relative;
    color: #262626;
    transition: .5s;
}
.li2 a:hover .fa
{
    color: #fff;
    transform: rotate(360deg);
}
.li2 a:before
{
    content:'';
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    left: 0;
    background: #f00;
    transition: .5s;
    z-index: 2;

}
.li2 a:hover:before
{
    top:0;
}
.li2:nth-child(1) a:before
{
    background:#623B84;
}
.li2:nth-child(2) a:before
{
    background:#3b5999;
}
.li2:nth-child(3) a:before
{
    background:#CE8181;
}
.li2:nth-child(4) a:before
{
    background:#62CBC1;
}
.li2:nth-child(5) a:before
{
    background:#749346;
}
